html, body {
	margin:0;
	padding:0;
	font-family:Helvetica,sans-serif;
}
div {
	padding:0px;
	border: 0px none;
}
#banner {
	position:fixed;
	margin:0px;
	padding:0px;
	border:0px none;
	width:100%;
	height:100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url('assets/header2.png');
	background-size:cover;
}

#content {
	position:relative;
	background:#2C2C2C;
	top:1000px;
    	transform: translateY(0%);
	right:0;
	bottom:-100%;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
}
.box {
	position:relative;
	background:#fff;
	background-size:contain;
	width:200px;
	height:200px;
	border:0;
	text-decoration:none;
	text-align:center;
	border-radius:1em;
}

#table {
	top:50%;
	transform: translateY(-50%);
	position:relative;
	margin:auto;
	border-spacing:10px;
}

.toprow {
	margin-top:70px;
}

.midrow {
	margin-top:20px;
}

.botrow {
	margin-top:20px;
}
a {
	text-decoration:none;
}

#box0 {
	background-image:url("assets/4chan.png");
}

#box1 {
	background-image:url("assets/mal.png");
}

#box2 {
	background-image:url("assets/youtube.png");
}

#box3 {
	background-image:url("assets/fb.png");
}

#box4 {
	background-image:url("assets/chen.png");
}

#box5 {
	background-image:url("assets/twitch.png");
}

#box6 {
	background-image:url("assets/twitter.png");
}

#box7 {
	background-image:url("assets/uni.png");
}

#box8 {
	background-image:url("assets/netvibes.png");
}

.box:hover {
	background:#168847;
	background-size:contain;
}

@media(max-width: 600px) {
	.box {
		width:100px;
		height:100px;
	}
}

